body {
    background-color: lightblue;
}


/* Done Todo */
[done] {
    color: green;
    text-decoration: line-through;
}






/* Deleted Todo */
.deleted_todo {
    display: none;
}